---
layout: default
---

<div class="container container-margin" id="assessmentPage">
    <div class="row">
        <div class="col-xs-12 breadcrumbs pull-right">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-label">You are here:</li>
                <li><a href="index.html">Home</a><i class="fa fa-angle-right"></i></li>
                <li class="current">Assessment</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4">
            <div class="col-lg-12 gray-bg" id="assessmentButton">
                <h3 class="left-h3">Assessment</h3>
                <div class="panel-group" id="accordion">
                    <div class="panel assessmentChoices">
                        <a id="NCI" class="assessment-sub-category collapse-btn collapsed" data-toggle="collapse" data-parent="#accordion" href="#NCSICollapse" data-href="#cateringServicesNci">
                            <div class="panel-heading">
                                CATERING SERVICES NCI
                            </div>
                        </a>
                        <div id="NCICollapse" class="collapse assessmentChoicesBackground">
                        </div>
                    </div>
                    <div class="panel assessmentChoices">
                        <a id="cookery" class="assessment-sub-category collapse-btn collapsed" data-toggle="collapse" data-parent="#accordion" href="#NCSICollapse" data-href="#cookeryNcii">
                            <div class="panel-heading">
                                COOKERY NCII
                            </div>
                        </a>
                        <div id="cookeryCollapse" class="collapse assessmentChoicesBackground">
                        </div>
                    </div>
                    <div class="panel assessmentChoices">
                        <a id="breadAndPastry" class="assessment-sub-category collapse-btn collapsed" data-toggle="collapse" data-parent="#accordion" href="#NCSICollapse" data-href="#breadPastryNcii">
                            <div class="panel-heading">
                                BREAD AND PASTRY PRODUCTION NCII
                            </div>
                        </a>
                        <div id="breadAndPastryCollapse" class="collapse assessmentChoicesBackground">
                        </div>
                    </div>
                    <div class="panel assessmentChoices">
                        <a id="housekeeping" class="assessment-sub-category collapse-btn collapsed" data-toggle="collapse" data-parent="#accordion" href="#NCSICollapse" data-href="#comercialCooking">
                            <div class="panel-heading">
                                Commercial Cooking NCIII
                            </div>
                        </a>
                        <div id="houseKeepingCollapse" class="collapse assessmentChoicesBackground">
                        </div>
                    </div>

                    <div class="panel assessmentChoices">
                        <a id="shipcatering" class="assessment-sub-category collapse-btn collapsed" data-toggle="collapse" data-parent="#accordion" href="#NCSICollapse" data-href="#comercialCooking">
                            <div class="panel-heading">
                                Ships Catering NC III
                            </div>
                        </a>
                        <div id="shipCateringCollapse" class="collapse assessmentChoicesBackground">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ content }}
    </div>
</div>
